<div fxLayout="column" fFlexFill>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="{{data.partido.nombre}}" [formControl]="form.controls['nombre']" required>
    
  </mat-form-field>
  <div fxLayout="column" fFlexFill>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="{{data.partido.siglas}}" [formControl]="form.controls['siglas']" required>
      
    </mat-form-field>
  <button mat-raised-button color="primary" (click)="editPartido()">EDIT</button>
</div>
