<div fxLayout="column" fFlexFill>
  <form [formGroup]="form" (ngSubmit)="addPropuesta()">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Título" [formControl]="form.controls['titulo']" required>
    </mat-form-field>
    <br />
    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Contenido" [formControl]="form.controls['contenido']" required></textarea>
    </mat-form-field>
    <br />
    <mat-form-field>
      <mat-select placeholder="Partido" [formControl]="form.controls['partido']" [(value)]="partidoSelected" name = "partido">
    <mat-option *ngFor="let partido of allPartidos" [value]="partido.id">
      {{partido.nombre}}
    </mat-option>
    </mat-select>
    </mat-form-field>
    <br/>
    <mat-form-field>
      <mat-select placeholder="Materia" [formControl]="form.controls['materia']" [(value)]="materiaSelected" name = "materia">
    <mat-option *ngFor="let materia of allMaterias" [value]="materia.id">
      {{materia.nombre}}
    </mat-option>
    </mat-select>
    </mat-form-field>
    <br/>
    <button mat-raised-button color="primary" [disabled]="!form.valid">ADD</button>
  </form>
</div>