img {
    border-radius: 50%;
  }

table {
    margin:auto;
}
.container{
    width: 100vh;
}

.paginator{
    margin:auto;
    position: relative;
    left:7.1%;
    width: 94.25%;
}
#titleTable{
    padding-bottom: 10px;
}
#selectFilter{
    margin-left: 47%;
}
#addFloatingButton {
    position: fixed;
    right: 5%;
    bottom: 15%;
    z-index: 9999999;
   

}
.w-100{
    width: 100%;
}